/* /Pages/Index.razor.rz.scp.css */
.container[b-yje69up5hq] {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    /* set the height of the container to the height of the viewport */
}

.btn[b-yje69up5hq] {
    margin: 0 10px;
    padding: 10px 20px;
    font-size: 18px;
    font-weight: bold;
    color: #fff;
    background-color: #FE8E14;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: all 0.3s ease;
}

.btn:hover[b-yje69up5hq] {
    background-color: #FEA543;
}
/* /Pages/MrzReader.razor.rz.scp.css */
#imageview[b-tp9v4ioquk] {
    position: relative;
    width: 40vw;
    margin-right: 20px;
}

#image[b-tp9v4ioquk] {
    position: relative;
    width: 100%;
    height: 100%;
    display: none;
}

#overlay[b-tp9v4ioquk] {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: contain;
}

.mrz-result[b-tp9v4ioquk] {
    color: red;
    font-style: italic;
}

.container[b-tp9v4ioquk] {
    display: flex; 
    margin: 0;
}

.btn[b-tp9v4ioquk] {
    margin: 0 10px;
    padding: 10px 20px;
    font-size: 18px;
    font-weight: bold;
    color: #fff;
    background-color: #FE8E14;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: all 0.3s ease;
}

.btn:hover[b-tp9v4ioquk] {
    background-color: #FEA543;
}
/* /Pages/MrzScanner.razor.rz.scp.css */
#videoview[b-i0bi81942m] {
    position: relative;
    width: 100%;
    height: 60vh;
    margin-right: 20px;
}

#videoContainer[b-i0bi81942m] {
    position: relative;
    width: 100%;
    height: 100%;
    z-index: 1
}

#overlay[b-i0bi81942m] {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 2;
    object-fit: contain
}

.mrz-result[b-i0bi81942m] {
    color: red;
    font-style: italic;
}

.container[b-i0bi81942m] {
    display: flex; 
    margin: 0;
}

.btn[b-i0bi81942m] {
    margin: 0 10px;
    padding: 10px 20px;
    font-size: 18px;
    font-weight: bold;
    color: #fff;
    background-color: #FE8E14;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: all 0.3s ease;
}

.btn:hover[b-i0bi81942m] {
    background-color: #FEA543;
}
/* /Shared/MainLayout.razor.rz.scp.css */
.page[b-2gmd0sqqlj] {
    position: relative;
    display: flex;
    flex-direction: column;
}

main[b-2gmd0sqqlj] {
    flex: 1;
}

.sidebar[b-2gmd0sqqlj] {
    background-image: linear-gradient(180deg, rgb(5, 39, 103) 0%, #3a0647 70%);
}

.top-row[b-2gmd0sqqlj] {
    background-color: #f7f7f7;
    border-bottom: 1px solid #d6d5d5;
    justify-content: flex-end;
    height: 3.5rem;
    display: flex;
    align-items: center;
}

    .top-row[b-2gmd0sqqlj]  a, .top-row[b-2gmd0sqqlj]  .btn-link {
        white-space: nowrap;
        margin-left: 1.5rem;
        text-decoration: none;
    }

    .top-row[b-2gmd0sqqlj]  a:hover, .top-row[b-2gmd0sqqlj]  .btn-link:hover {
        text-decoration: underline;
    }

    .top-row[b-2gmd0sqqlj]  a:first-child {
        overflow: hidden;
        text-overflow: ellipsis;
    }

@media (max-width: 640.98px) {
    .top-row:not(.auth)[b-2gmd0sqqlj] {
        display: none;
    }

    .top-row.auth[b-2gmd0sqqlj] {
        justify-content: space-between;
    }

    .top-row[b-2gmd0sqqlj]  a, .top-row[b-2gmd0sqqlj]  .btn-link {
        margin-left: 0;
    }
}

@media (min-width: 641px) {
    .page[b-2gmd0sqqlj] {
        flex-direction: row;
    }

    .sidebar[b-2gmd0sqqlj] {
        width: 250px;
        height: 100vh;
        position: sticky;
        top: 0;
    }

    .top-row[b-2gmd0sqqlj] {
        position: sticky;
        top: 0;
        z-index: 1;
    }

    .top-row.auth[b-2gmd0sqqlj]  a:first-child {
        flex: 1;
        text-align: right;
        width: 0;
    }

    .top-row[b-2gmd0sqqlj], article[b-2gmd0sqqlj] {
        padding-left: 2rem !important;
        padding-right: 1.5rem !important;
    }
}
/* /Shared/NavMenu.razor.rz.scp.css */
.navbar-toggler[b-6ipghpusm9] {
    background-color: rgba(255, 255, 255, 0.1);
}

.top-row[b-6ipghpusm9] {
    height: 3.5rem;
    background-color: rgba(0,0,0,0.4);
}

.navbar-brand[b-6ipghpusm9] {
    font-size: 1.1rem;
}

.oi[b-6ipghpusm9] {
    width: 2rem;
    font-size: 1.1rem;
    vertical-align: text-top;
    top: -2px;
}

.nav-item[b-6ipghpusm9] {
    font-size: 0.9rem;
    padding-bottom: 0.5rem;
}

    .nav-item:first-of-type[b-6ipghpusm9] {
        padding-top: 1rem;
    }

    .nav-item:last-of-type[b-6ipghpusm9] {
        padding-bottom: 1rem;
    }

    .nav-item[b-6ipghpusm9]  a {
        color: #d7d7d7;
        border-radius: 4px;
        height: 3rem;
        display: flex;
        align-items: center;
        line-height: 3rem;
    }

.nav-item[b-6ipghpusm9]  a.active {
    background-color: rgba(255,255,255,0.25);
    color: white;
}

.nav-item[b-6ipghpusm9]  a:hover {
    background-color: rgba(255,255,255,0.1);
    color: white;
}

@media (min-width: 641px) {
    .navbar-toggler[b-6ipghpusm9] {
        display: none;
    }

    .collapse[b-6ipghpusm9] {
        /* Never collapse the sidebar for wide screens */
        display: block;
    }
    
    .nav-scrollable[b-6ipghpusm9] {
        /* Allow sidebar to scroll for tall menus */
        height: calc(100vh - 3.5rem);
        overflow-y: auto;
    }
}
