@page "/"
@inject IJSRuntime JSRuntime
@inject NavigationManager NavigationManager
@using Microsoft.AspNetCore.Components.Web;

@if (initialized == false)
{
    <p>Initializing Dynamsoft Label Recognizer SDK...</p>
}
else {
    <div class="container">
        <button class="btn" @onclick="StartReader">Mrz Reader</button>
        <button class="btn" @onclick="StartScanner">Mrz Scanner</button>
    </div>
}

@code {
    Boolean initialized = false;

    protected override void OnInitialized()
    {
        Init();
    }

    public async void Init()
    {
        initialized = await JSRuntime.InvokeAsync<Boolean>("jsFunctions.initSDK", "DLS2eyJoYW5kc2hha2VDb2RlIjoiMjAwMDAxLTE2NDk4Mjk3OTI2MzUiLCJvcmdhbml6YXRpb25JRCI6IjIwMDAwMSIsInNlc3Npb25QYXNzd29yZCI6IndTcGR6Vm05WDJrcEQ5YUoifQ==");
        StateHasChanged();
    }

    public void StartReader()
    {
        NavigationManager.NavigateTo("mrzreader");
    }

    public void StartScanner()
    {
        NavigationManager.NavigateTo("mrzscanner");
    }
}
